# Configurações de Banco de Dados MySQL (service-order-service)
DB_HOST=localhost
DB_PORT=3307
DB_NAME=oficina_db
DB_USERNAME=oficina_user
DB_PASSWORD=oficina_pass

# Configurações de Mensageria (RabbitMQ)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Configurações Gerais
PORT=8080
APP_BASE_URL=http://localhost:8080