RESEND_API_KEY=rapi_key
RESEND_FROM_EMAIL=oficina@fabrincahub.com

APP_BASE_URL=http://localhost:8080

# Mercado Pago Integration Keys
# Obtenha em: Mercado Pago Developer Dashboard -> Suas aplicações -> Credenciais de teste / produção
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxx-xxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxx
MERCADO_PAGO_NOTIFICATION_URL=http://localhost:8080/api/payments/webhook