# Configurações de Banco de Dados MySQL (service-order-service)
DB_HOST=mysql-service-order
DB_PORT=3306
DB_NAME=oficina_db
DB_USERNAME=oficina_user
DB_PASSWORD=oficina_pass
MYSQL_ROOT_PASSWORD=root_password

# Configurações de Mensageria (RabbitMQ)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Configurações Gerais
PORT=8080
APP_BASE_URL=http://localhost:8080
